body {
	background-color: black;
	color: green;
}
.parallax-green {
	background-color: green;
	color: black;
	font-size: 75px;
	padding: 200px;
}
.parallax-black {
	background-color: black;
	color: green;
	font-size: 25px;
}
.list-item {
	font-size: 25px;
}
#software-engineer-list-item {
	background-color: black;
	color: green;
	padding: 200px;
}
#voice-over-actor-list-item {
	background-color: green;
	color: black;
	padding: 200px;
}
#ngo-list-item {
	background-color: black;
	color: green;
	padding: 200px;
}
h2 {
	font-family: "Times New Roman";
}
div {
	padding: 15px;
}
dd {
	padding: 5px;
	text-align: center;
}
blockquote {
	border: 1px solid black;
	font-family: "Aladin";
	margin: 15px;
	padding: 15px;
	text-align: center;
}
