body {
	background-color: black;
	color: green;
}
.parallax_green {
	font-size: 75px;
	background-color: green;
	color: black;
	padding: 200px;
}
.parallax_black {
	background-color: black;
	color: green;
	font-size: 25px;
}
h2 {
	font-family: "Times New Roman";
}
div {
	padding: 15px;
}
dd {
	text-align: center;
	padding: 5px;
}
blockquote {
	border: 1px solid black;
	text-align: center;
	margin: 15px;
	padding: 15px;
	font-family: "Aladin";
}
