a {
	font-size: 1.5vw;
}
body {
	background-attachment: fixed;
	background-image: url("../images/matrix-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: green;
	font-family: "Courier New";
}
#master-container {
	background-color: rgba(0, 0, 0, 0.85);
}
#main-navigation-bar {
	background-color: black;
	border: 1px solid green;
	text-align: center;
}
.nav-bar-list-item {
	color: green;
}
.hero-element {
	height: 85vh;
	padding: 6.25%;
	text-align: center;
	width: 100vw;
}
.hero-element-title {
	font-size: 5vw;
	padding-top: 5%;
}
.hero-element-intro {
	padding: 4%;
	font-size: 3vw;
	text-align: center;
}

#education {
/*	height: 100vh;*/
	background-color: rgba(0, 0, 0, 0.85);
	padding: 6.25%;
	text-align: center;
	width: 100vw;
}
.education-title {
	font-size: 5vw;
}
.education-item-titles {
	font-size: 3vw;
}
.education-item-marks {
	font-size: 4vw;
}
.education-item-description {
	font-size: 1.8vw;
}

#training {
/*	height: 100vh;*/
	background-color: rgba(0, 0, 0, 0.85);
	padding: 6.25%;
	text-align: center;
	width: 100vw;
}
.training-item-logo {
	font-size: 3vw;
	color: green;
	text-align: center;
}
.training-title {
	font-size: 4.5vw;
}
.training-item-title {
	font-size: 2.5vw;
}
.training-description {
	font-size: 1.5vw;
}

#skills {
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.85);
	padding: 6.25%;
	text-align: center;
	width: 100vw;
}
.skills-title {
	font-size: 4vw;
}
.skills-item-title {
	font-size: 3vw;
}
.skills-item-description {
	font-size: 1.5vw;
}
	
#projects {
/*	height: 100vh;*/
	background-color: rgba(0, 0, 0, 0.85);
	padding: 6.25%;
	text-align: center;
	width: 100vw;
}
.project-item-title {
	font-size: 4vw;
}
.project-item-description {
	font-size: 2vw;
}

.carousel-item {
	font-size: 5vw;
	padding: 5%;
}

.footer {
	background-color: rgba(0, 0, 0, .85);
}
.footer-item {
	color: green;
	font-size: 5vw;
	text-align: center;
}
.map-container-google-8 {
	background-color: rgba(0, 0, 0, .85)
}
